@font-face{
    font-family: 'AllerDisplay';
    font-style: normal;
    font-weight: normal;
    src: local('AllerDisplay'), url('../..//..//static/fonts/AllerDisplay.ttf') format('ttf');
}


body{
    height: 100%;
    margin: 0%;
}

#menulateral{
    float: left;
    height: 100%;
    min-height: 100%;
    width: 5%;
    background-color: #99BFD3;
}


#conteudo{
    float: right;
    width: 95%;
    height: 100%;
    overflow: hidden;
}

#pagainas{
    width: 100%;
    height: 100%;
    border: none;
}