/*
    CSS referênte a organização da página edit.php 

Created on : 19/04/2018, 13:17:09
    Author     : leo
*/

body{
    height: 100%;
    margin: 0%;
}

#menulateral{
    float: left;
    height: 100%;
    min-height: 100%;
    width: 5%;
    background-color: #99BFD3;
}

#tela{
    position: absolute;
    left: 5%;
    height: 100%;
    width: 95%;
    overflow: auto;
    
}


#edittittle{
    float: left;
    width: 90%;
    margin-left: 3%;
    margin-top: 1%;
}

#busca{
    float: left;
    width: 30%;
    height: 5%;
    margin-left: 8%;
    margin-top: 0.5%;
    
}


#EditBoxCat {
  clear:both;  
  float: left;
  margin-left: 3%;
  margin-top: 3%;
  height: 75%;
  width: 30%;
  padding-left: 2%;
  overflow: auto;
}

#EditBoxPal{  
  float: left;  
  margin-top: 2%;
  height: 75%;
  width: 20%;
  padding-left: 2%;
  overflow: auto;  
}

#atributos{ 
  height: 90%;
  width: 40%;
  padding-left: 2%;
  overflow: auto;
  display: none;
  /*background-color: #60AAD8;*/
}

#showvid{
    float:right;
    margin-top: 3%;
    width: 45%;
    height: 20%;
    background-color: white;
}

#showpic{
    margin-top: 3%;
    width: 45%;
    height: 20%;
    background-color: white;
    overflow: hidden;
}

#addResposta{
    float: left;
    width: 50%;
    margin-left: 8%;
    margin-top: 9%;
    font-size: 20px;
    color: #95989A;
}