body{
    height: 100%;
    margin: 0%;
}

#lateral{
    float: left;
    height: 100%;
    min-height: 100%;
    width: 5%;
    background-color: #60AAD8;
}

#dados{  
  height: 30%;
  width: 30%;
  background-color: buttonface;
  margin-left: 37.5%;
}

.AddField {
  /*clear: both;*/  
  display: inline-block;
  /*float: left;*/
  width: 90%;
  height: 20%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 17px;
  color: black;
  background-color: #60AAD8;
  background-size: 25px;
  background-position: 20px 1px;
  background-repeat: no-repeat;
  padding: 0.5% 0% 0.5% 0%;
  margin-left: 3%;
  margin-top: 5%;
  outline: 0;
}

.Button {
  background-color: #60AAD8;
  border: none;
  color: black;
  height: 20%;
  margin-top: 5%;
  margin-left: 3%;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 10%;
}

#loginlogoimg{  
  height: 50%;
  width: 30%;
  margin-left: 32.5%;
  display: inline-block;
}

#ufsindex{
    float: right;
    height: 15%;
    width: 15%;
    margin-right: 1%
}

