@font-face{
    font-family: 'AllerDisplay';
    font-style: normal;
    font-weight: normal;
    src: local('AllerDisplay'), url('../..//..//static/fonts/AllerDisplay.ttf') format('ttf');
}
body{
    height: 100%;
    margin: 0%;
}

#lateral{
    float: left;
    height: 100%;
    min-height: 100%;
    width: 5%;
    background-color: #99BFD3;
}

#palnova{
   position: relative;
   left: 3%;
   width: 60%;
}

.letters, .lettersC {
  color: #99BFD3;
  font-size: 3.0em;
  font-family: 'AllerDisplay';
}

.title {
  text-align: center;
  font-size: 3.0em;
}


#form{
    float: left;
    width: 37.75%;
    margin-left: 3%;
    margin-top: 2%;
}


#addvideo {  
  margin-left:50%;
  margin-top: 5%;
  height: 42.7%;
  width: 42.7%;
  background-color: black;
  display: none;
}


.AddField {
  display: inline-block;
  /*float: left;*/
  width: 90%;
  height: 6%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-family: 'AllerDisplay';
  font-size: 17px;
  /*color: #95989A;*/
  background-color: #99BFD3;
  background-size: 25px;
  background-position: 20px 1px;
  background-repeat: no-repeat;
  padding: 0.5% 0% 0.5% 0%;
  margin-left: 3%;
  margin-top: 5%;
  outline: 0;
}

.AddFieldComent {
  display: inline-block;
  width: 90%;
  height: 11%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-family: 'AllerDisplay';
  font-size: 17px;
  /*color: #9598AA;*/
  background-color: #99BFD3;
  background-size: 25px;
  background-position: 20px 1px;
  background-repeat: no-repeat;
  padding: 0.5% 0% 0.5% 0%;
  margin-left: 3%;
  margin-top: 5%;
  outline: 0;
}



.Button {
  background-color: #99BFD3;
  border: none;
  /*color: white;*/
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: 'AllerDisplay';
  font-size: 15px;
  border-radius: 10%;
}

#addbt {
  /*position: absolute;*/
  float: left;
  width: 30%;
  height: 6%;
  margin-left: 3%;
  margin-top: 6%;
  cursor: pointer;
}

#addInputFile{
  width: 100%;
  display: none;
}

label {
  width: 100%;
  cursor: pointer;
}

label:hover {
  color: #696969;
}

#addCategoria {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #99BFD3;
  background-position: 100% center;
}

#addsw {
  margin-top: -5%;
  margin-left: 45%;
  height: 25.7%;
  width: 15.7%;
  background-color: white; 
  display: inline-block;
}


#addResposta{
    position: absolute;
    margin-top: 5%;
    height: 5%;
    width: 50%;
    color: #99BFD3;
    font-size: 1.5em;
}

#add-text-field{
    background-color: white;
    height: 25.7%;
    width: 24.7%;
    margin-left: 2.7%;
    margin-top: -7%;
    display: inline-block;
}

#add-text{
  resize: none;
  height: 100%;
  width: 100%;
  border: 2px solid #D1D1F5;
  border-radius: 25px;
  background-color: white;
  margin: 5px;
  padding: 2%;
  margin: 0;
  font-family: 'AllerDisplay';
  color: #95989A;
  display: none;
}

#inserirufs{
    /*clear: both;*/
    float: right;
    height: 7%;
    width: 7%;
    margin-top: 3%;
    margin-right: 1%;
}

