@font-face{
    font-family: 'AllerDisplay';
    font-style: normal;
    font-weight: normal;
    src: local('AllerDisplay'), url('../..//..//static/fonts/AllerDisplay.ttf') format('ttf');
}

#catresult{
    margin-top: 5%;
}
#palresult{
    margin-top: 5%;
}

body{
    height: 100%;
    margin: 0%;
}

#removpal{
    margin-left: 5%;
    margin-top: 2%;
    font-size: 3.0em;
    color: #99BFD3;
    font-family: 'AllerDisplay';
}

#tela{
    position: absolute;
    left: 5%;
    height: 100%;
    width: 95%;
    overflow: auto;
    
}


.lettersC {
  color: black;
  font-size: 3.0em;
  font-family: 'AllerDisplay';  
}

.lettersC:hover {
  cursor: pointer;
}

#input_query {
  width: 15%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
  background-color: #D1D1F5;
  background-image: url('../../../static/img/lupa.png');
  background-size: 25px;
  background-position: 20px 1px;
  background-repeat: no-repeat;
  padding: 0.5% 0% 0.5% 5%;
  margin-left: 1%;
  margin-top: 2%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: 0;
}

#input_query:focus {
  width: 30%;
}

#RemoveBoxCat {
  clear:both;  
  float: left;
  margin-left: 3%;
  margin-top: 3%;
  height: 75%;
  width: 30%;
  padding-left: 2%;
  overflow: auto;
  background-color: #99BFD3;
  border-radius: 10%;
}

#BoxPal {
  float: left;  
  margin-top: 2%;
  margin-left: 5%;
  height: 55%;
  width: 40%;
  padding-left: 2%;
  overflow: auto;  
  background-color: #99BFD3;
  border-radius: 10%;
}

.resultado {
  float: left;
  clear: both;
  padding-bottom: 2%;
  font-size: 2em;
  font-family: 'AllerDisplay';
}

.resultado:hover {
  cursor: pointer;
}

#removeBT{
    clear: both;
    float: right;
    margin-right: 20%;
    /*margin-bottom: 10%;*/
    margin-top: -10%;
}


#menulateral{
    float: left;
    height: 100%;
    min-height: 100%;
    width: 5%;
    background-color: #99BFD3;
}

#busca{
    float: left;
    width: 30%;
    height: 5%;
    margin-left: 8%;
    margin-top: 0.5%;
    
}